##Assignment - 1

##Q1

In [1]:
#(i) string

place = 'DELHI'
type(place)

str

In [2]:
#(ii) list

x= [1, 'rajesh', place, 3.5]
print(x)
type(x)

[1, 'rajesh', 'DELHI', 3.5]

list

In [3]:
#(iii) float
y = x[3]
print(y)
type(y)

3.5

float

##Q2

In [4]:
#i. string
#ii. string
#iii. list
#iv. float

##Q3

In [5]:
#i. to find result of division
print('12/7 = ', 12/7)

#ii. to find quotient 
print('12%7 = ',12%7)

#iii. to find remainder
print('12//7 = ', 12//7)

#iv. to calculate 'raise to the power of'
print ('12**7 =', 12**2)

12/7 =  1.7142857142857142
12%7 =  5
12//7 =  1
12**7 = 144

##Q4

In [6]:
list_1 = [12, 2.5, 'namaste', ['raise', '1980'], place, x[1], 89, 'India', True, 5+8j]

for i in list_1:
    print('value :',i)
    print('data type: ',type(i))

value : 12
data type:  <class 'int'>
value : 2.5
data type:  <class 'float'>
value : namaste
data type:  <class 'str'>
value : ['raise', '1980']
data type:  <class 'list'>
value : DELHI
data type:  <class 'str'>
value : rajesh
data type:  <class 'str'>
value : 89
data type:  <class 'int'>
value : India
data type:  <class 'str'>
value : True
data type:  <class 'bool'>
value : (5+8j)
data type:  <class 'complex'>

##Q5

In [7]:
#A = input('Enter first no:')
#B = input('Enter second no:')

A=27
B=3
while A%B != 0:
    print(f' {A} is not purely divisible by {B}')
    break
else:
    print(f' {A} is purely divisible by {B} by {A//B} times')

 27 is purely divisible by 3 by 9 times

In [8]:
##Q6

list_2 = [12,7,34,87,23,99,36,90,789,765,349,7896,32,76,900,500,321,761,897,98, 96, 328,121,764,780,4316 ]

for i in list_2:
    if i%3 == 0:
        print (i, 'is divisible by 3')
    else:
        print (i, 'is not divisible by 3')

12 is divisible by 3
7 is not divisible by 3
34 is not divisible by 3
87 is divisible by 3
23 is not divisible by 3
99 is divisible by 3
36 is divisible by 3
90 is divisible by 3
789 is divisible by 3
765 is divisible by 3
349 is not divisible by 3
7896 is divisible by 3
32 is not divisible by 3
76 is not divisible by 3
900 is divisible by 3
500 is not divisible by 3
321 is divisible by 3
761 is not divisible by 3
897 is divisible by 3
98 is not divisible by 3
96 is divisible by 3
328 is not divisible by 3
121 is not divisible by 3
764 is not divisible by 3
780 is divisible by 3
4316 is not divisible by 3

In [9]:
#Q7

#Mutable data types are those whose values can be modified/ replaced using indexes
#eg: list

m2=[12, 'dear', 7.8]
print('original value of m2:',m2)
m2[1]='read'
print('modified value of m2: ',m2)


#Immutable datatype are those whose values cannot be modified/ replaced using indexes 
# eg : string
m1='read'
#m1[2]='e'
#error

original value of m2: [12, 'dear', 7.8]
modified value of m2:  [12, 'read', 7.8]